<!DOCTYPE html>

<html>
    <head>
        <title>Home - Flask Asymmetric Encryption</title>
    </head>
    <body>
        <center>
            <h2>Asymmetric Encryption & Decryption</h2>
            <form method="POST">
                <button type="submit" name="Button" value="Generate">
                    Generate Public & Private Keys
                </button>
                <br>
                <button type="submit" name="Button" value="Encrypt&Decrypt">
                    Encrypt and Decrypt with Keys
                </button>
            </form>
        </center>
    </body>
</html>
