<!DOCTYPE html>

<html>
    <head>
        <title>Home - Flask Asymmetric Encryption</title>
    </head>
    <body>
        <center>
            <h2>Asymmetric Encryption & Decryption</h2>
            <button type="button" onclick="window.location.href = '/generate'">
                Generate Public & Private Keys
            </button>
            <br>
            <button type="button" onclick="window.location.href = '/encrypt/and/decrypt'">
                Encrypt and Decrypt with Keys
            </button>
        </center>
    </body>
</html>
